[submodule "externals/glslang"]
	path = externals/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "externals/SPIRV-Cross"]
	path = externals/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
